@w:	750;
@mona-primary		: #2196F3;
@mona-color			: #333;	//字体颜色
@mona-border-color	: #e4e4e4;

@mona-font-size-sm	: 12px;
@mona-font-size		: 14px;
@mona-font-size-lg	: 16px;

@mona-border-radius	: 5px;

@mona-wrap-color		: #fff;

@mona-mask-bg		: rgba(0, 0, 0, .5);

/*toast*/
@toastZIndex						: 499;
@toastBorderRadius					: @mona-border-radius;
@toastBgColor						: @mona-mask-bg;
@toastFontSize						: @mona-font-size;
@toastConZIndex						: 500;
@toastColor							: #fff;
@toastSuccessIcon					: 'https://s10.mogucdn.com/mlcdn/c45406/180205_89ff4d45g31c7a4cfk8j727b6adli_200x200.png_100x100.png';
@toastErrorIcon						: 'https://s10.mogucdn.com/mlcdn/c45406/180205_86g9c5249kljeljlbaki70g0i78ji_200x200.png_100x100.png';
@toastIconWidth						: 40px;
@toastIconHeight					: 40px;

/*modal*/
@modalZIndex						: 400;
@modalMaskBg						: @mona-mask-bg;
@modalHeaderFontSizeSm				: 16px;
@modalHeaderFontSize				: 18px;
@modalHeaderColor					: @mona-color;
@modalWrapBorderRadius				: @mona-border-radius;
@modalWrapFontSizeSm				: 14px;
@modalWrapFontSize					: 15px;
@modalWrapFontSizeLg				: 16px;
@modalWrapWidthSm					: 240px;
@modalWrapWidth						: 270px;
@modalWrapWidthLg					: 300px;
@modalWrapBgColor	       			: #fff;
@modalWrapColor						: #888;
@modalWrapNoTitle					: #666;
@modalWrapBorderColor				: @mona-border-color;
@modalFooterHeightSm				: 40px;
@modalFooterHeight					: 45px;
@modalFooterHeightLg				: 50px;
@modalFooterFontSizeSm				: 14px;
@modalFooterFontSize				: 16px;
@modalFooterFontSizeLg				: 17px;

/*popup*/
@popupZIndex						: 300;
@popupAnimDuration					: 350ms;
@popupMaskBg						: @mona-mask-bg;

/*modal-select*/
@modalSelectWrapBgColor				: @mona-wrap-color;
@modalSelectHeaderHeight			: 45px;
@modalSelectHeaderFontSize			: 16px;
@modalSelectHeaderColor				: @mona-primary;
@modalSelectHeaderBorderColor		: @mona-border-color;
@modalSelectItemHeight				: 48px;
@modalSelectItemFontSize			: 15px;
@modalSelectItemColor				: @mona-color;
@modalSelectItemSelectedBg			: #ffeeed;
@modalSelectItemSelectedIcon		: 'https://s10.mogucdn.com/mlcdn/c45406/180531_1446j5l280i4cl48h6abh954e6g9l_31x23.png';

/*picker-select*/
@pickerSelectWrapBgColor			: @mona-wrap-color;
@pickerSelectHeaderFontSize			: @mona-font-size-lg;
@pickerSelectHeaderHeight			: 45px;
@pickerSelectHeaderColor			: @mona-primary;
@pickerSelectHeaderBorderColor		: @mona-border-color;;
@pickerSelectWrapHeight				: 280px;

/*date-picker*/
@datePickerWrapBgColor				: @mona-wrap-color;
@datePickerHeaderFontSize			: @mona-font-size-lg;
@datePickerHeaderColor				: @mona-primary;
@datePickerHeaderHeight				: 45px;
@datePickerHeaderborderColor		: @mona-border-color;
@datePickerWrapHeight				: 280px;
@datePickerWrapFontSize				: @mona-font-size;

/*date-picker-range*/
@datePickerRangeWrapBgColor			: @mona-wrap-color;
@datePickerRangeHeaderFontSize		: @mona-font-size-lg;
@datePickerRangeHeaderColor			: @mona-primary;
@datePickerRangeHeaderHeight		: 45px;
@datePickerRangeHeaderborderColor	: @mona-border-color;
@datePickerRangeWrapHeight			: 280px;
@datePickerRangeWrapFontSize			: @mona-font-size;
@datePickerRangeWrapGapBorderColor	: @mona-border-color;

/*list-view*/
@listViewRefreshFontSize			: 13px;
@listViewAnimDuration				: 600ms;
@listViewInfiniteIcon				: "https://s10.mogucdn.com/mlcdn/c45406/180517_7le6117ia10b6eg8chd1hdike7gec_200x200.png_50x50.png";

/*swiper*/
@swiperAnimDuration					: 300ms;
@swiperDotWidth						: 8px;
@swiperDotHeight					: 8px;
@swiperDotBgColor					: @mona-primary;

/*tabs*/
@tabsHeaderBorderColor				: @mona-border-color;
@tabsHeaderBgColor					: #fff;
@tabsHeaderSelectedColor			: @mona-primary;
@tabsHeaderSelectedHeight			: 2px;
@tabsHeaderHeight					: 45px;
@tabsHeaderFontSize					: 15px;
@tabsAnimDuration					: 300ms;
