{
    "presets": [
        "@babel/preset-react",
        "@babel/preset-env",
        "@babel/preset-flow"
    ],
    "plugins": [
        "jsx-control-statements",
        "transform-object-assign",
        "@babel/plugin-proposal-class-properties"
    ]
}
