.mona-anim-common {
	will-change: transform;
	animation: commonModalAnim 500ms;
	animation-fill-mode: both;
}

@keyframes commonModalAnim {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}
	50% {
		opacity: 1;
		transform: scale(1.1);
	}
	66% {
		opacity: 1;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@-webkit-keyframes commonModalAnim {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}
	50% {
		opacity: 1;
		transform: scale(1.1);
	}
	66% {
		opacity: 1;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}
