/* toast */
/* modal */
/* popup */
/* modal-select */
/* picker-select */
/* date-picker */
/* date-picker-range */
/* list-view */
/* swiper */
/* tabs */
/* loading */
/* drop */
.mona-anim-common {
  will-change: transform;
  -webkit-animation: commonModalAnim 500ms;
          animation: commonModalAnim 500ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@keyframes commonModalAnim {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes commonModalAnim {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.mona-b-t {
  border-top: 1px solid #e4e4e4;
}
.mona-b-b {
  border-bottom: 1px solid #e4e4e4;
}
.mona-b-tb {
  border-top: #e4e4e4 1px solid;
  border-bottom: #e4e4e4 1px solid;
  background-image: none;
}
.mona-b-l {
  border-left: 1px solid #e4e4e4;
}
.mona-b-r {
  border-right: 1px solid #e4e4e4;
}
.mona-b {
  border: 1px solid #e4e4e4;
}
.mona-b-radius {
  border: 1px solid #e4e4e4;
  border-radius: 3px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .mona-b-radius {
    position: relative;
    border: 0;
  }
  .mona-b-radius:before {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #e4e4e4;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    padding: 1px;
    -webkit-box-sizing: border-box;
    border-radius: 5px;
    pointer-events: none;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .mona-b {
    position: relative;
    border: 0;
  }
  .mona-b-t,
  .mona-b-b,
  .mona-b-l,
  .mona-b-r,
  .mona-b-tb {
    border: 0;
  }
  .mona-b-t {
    background-position: left top;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.66666667, rgba(0, 0, 0, 0)), color-stop(0.66666667, #e4e4e4));
  }
  .mona-b-b {
    background-position: left bottom;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.66666667, rgba(0, 0, 0, 0)), color-stop(0.66666667, #e4e4e4));
  }
  .mona-b-t,
  .mona-b-b,
  .mona-b-tb {
    background-repeat: repeat-x;
    -webkit-background-size: 100% 1px;
  }
  .mona-b-tb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.66666667, rgba(0, 0, 0, 0)), color-stop(0.66666667, #e4e4e4)), -webkit-gradient(linear, left top, left bottom, color-stop(0.66666667, rgba(0, 0, 0, 0)), color-stop(0.66666667, #e4e4e4));
    background-position: top, bottom;
  }
  .mona-b-l {
    background-position: left top;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0.66666667, rgba(0, 0, 0, 0)), color-stop(0.66666667, #e4e4e4));
  }
  .mona-b-r {
    background-position: right top;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.66666667, rgba(0, 0, 0, 0)), color-stop(0.66666667, #e4e4e4));
  }
  .mona-b-l,
  .mona-b-r {
    background-repeat: repeat-y;
    -webkit-background-size: 1px 100%;
  }
  .mona-b:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.66666667, rgba(0, 0, 0, 0)), color-stop(0.66666667, #e4e4e4)), -webkit-gradient(linear, left top, right top, color-stop(0.66666667, rgba(0, 0, 0, 0)), color-stop(0.66666667, #e4e4e4)), -webkit-gradient(linear, left top, left bottom, color-stop(0.66666667, rgba(0, 0, 0, 0)), color-stop(0.66666667, #e4e4e4)), -webkit-gradient(linear, right top, left top, color-stop(0.66666667, rgba(0, 0, 0, 0)), color-stop(0.66666667, #e4e4e4));
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
    background-repeat: no-repeat;
    background-position: top, right, bottom, left;
    padding: 1px;
    -webkit-box-sizing: border-box;
    z-index: 5;
    pointer-events: none;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .mona-b {
    position: relative;
    border: 0;
  }
  .mona-b-t,
  .mona-b-b,
  .mona-b-l,
  .mona-b-r,
  .mona-b-tb {
    border: 0;
  }
  .mona-b-t {
    background-position: left top;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.5, #e4e4e4));
  }
  .mona-b-b {
    background-position: left bottom;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.5, #e4e4e4));
  }
  .mona-b-t,
  .mona-b-b,
  .mona-b-tb {
    background-repeat: repeat-x;
    -webkit-background-size: 100% 1px;
  }
  .mona-b-tb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.5, #e4e4e4)), -webkit-gradient(linear, left top, left bottom, color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.5, #e4e4e4));
    background-position: top, bottom;
  }
  .mona-b-l {
    background-position: left top;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.5, #e4e4e4));
  }
  .mona-b-r {
    background-position: right top;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.5, #e4e4e4));
  }
  .mona-b-l,
  .mona-b-r {
    background-repeat: repeat-y;
    -webkit-background-size: 1px 100%;
  }
  .mona-b:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.5, #e4e4e4)), -webkit-gradient(linear, left top, right top, color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.5, #e4e4e4)), -webkit-gradient(linear, left top, left bottom, color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.5, #e4e4e4)), -webkit-gradient(linear, right top, left top, color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.5, #e4e4e4));
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
    background-repeat: no-repeat;
    background-position: top, right, bottom, left;
    padding: 1px;
    -webkit-box-sizing: border-box;
    z-index: 5;
    pointer-events: none;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2.6) {
  .mona-b {
    position: relative;
    border: 0;
  }
  .mona-b-t,
  .mona-b-b,
  .mona-b-l,
  .mona-b-r,
  .mona-b-tb {
    border: 0;
  }
  .mona-b-t {
    background-position: left top;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.38461538, rgba(0, 0, 0, 0)), color-stop(0.38461538, #e4e4e4));
  }
  .mona-b-b {
    background-position: left bottom;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.38461538, rgba(0, 0, 0, 0)), color-stop(0.38461538, #e4e4e4));
  }
  .mona-b-t,
  .mona-b-b,
  .mona-b-tb {
    background-repeat: repeat-x;
    -webkit-background-size: 100% 1px;
  }
  .mona-b-tb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.38461538, rgba(0, 0, 0, 0)), color-stop(0.38461538, #e4e4e4)), -webkit-gradient(linear, left top, left bottom, color-stop(0.38461538, rgba(0, 0, 0, 0)), color-stop(0.38461538, #e4e4e4));
    background-position: top, bottom;
  }
  .mona-b-l {
    background-position: left top;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0.38461538, rgba(0, 0, 0, 0)), color-stop(0.38461538, #e4e4e4));
  }
  .mona-b-r {
    background-position: right top;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.38461538, rgba(0, 0, 0, 0)), color-stop(0.38461538, #e4e4e4));
  }
  .mona-b-l,
  .mona-b-r {
    background-repeat: repeat-y;
    -webkit-background-size: 1px 100%;
  }
  .mona-b:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.38461538, rgba(0, 0, 0, 0)), color-stop(0.38461538, #e4e4e4)), -webkit-gradient(linear, left top, right top, color-stop(0.38461538, rgba(0, 0, 0, 0)), color-stop(0.38461538, #e4e4e4)), -webkit-gradient(linear, left top, left bottom, color-stop(0.38461538, rgba(0, 0, 0, 0)), color-stop(0.38461538, #e4e4e4)), -webkit-gradient(linear, right top, left top, color-stop(0.38461538, rgba(0, 0, 0, 0)), color-stop(0.38461538, #e4e4e4));
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
    background-repeat: no-repeat;
    background-position: top, right, bottom, left;
    padding: 1px;
    -webkit-box-sizing: border-box;
    z-index: 5;
    pointer-events: none;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .mona-b {
    position: relative;
    border: 0;
  }
  .mona-b-t,
  .mona-b-b,
  .mona-b-l,
  .mona-b-r,
  .mona-b-tb {
    border: 0;
  }
  .mona-b-t {
    background-position: left top;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33333333, rgba(0, 0, 0, 0)), color-stop(0.33333333, #e4e4e4));
  }
  .mona-b-b {
    background-position: left bottom;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.33333333, rgba(0, 0, 0, 0)), color-stop(0.33333333, #e4e4e4));
  }
  .mona-b-t,
  .mona-b-b,
  .mona-b-tb {
    background-repeat: repeat-x;
    -webkit-background-size: 100% 1px;
  }
  .mona-b-tb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33333333, rgba(0, 0, 0, 0)), color-stop(0.33333333, #e4e4e4)), -webkit-gradient(linear, left top, left bottom, color-stop(0.33333333, rgba(0, 0, 0, 0)), color-stop(0.33333333, #e4e4e4));
    background-position: top, bottom;
  }
  .mona-b-l {
    background-position: left top;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0.33333333, rgba(0, 0, 0, 0)), color-stop(0.33333333, #e4e4e4));
  }
  .mona-b-r {
    background-position: right top;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.33333333, rgba(0, 0, 0, 0)), color-stop(0.33333333, #e4e4e4));
  }
  .mona-b-l,
  .mona-b-r {
    background-repeat: repeat-y;
    -webkit-background-size: 1px 100%;
  }
  .mona-b:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33333333, rgba(0, 0, 0, 0)), color-stop(0.33333333, #e4e4e4)), -webkit-gradient(linear, left top, right top, color-stop(0.33333333, rgba(0, 0, 0, 0)), color-stop(0.33333333, #e4e4e4)), -webkit-gradient(linear, left top, left bottom, color-stop(0.33333333, rgba(0, 0, 0, 0)), color-stop(0.33333333, #e4e4e4)), -webkit-gradient(linear, right top, left top, color-stop(0.33333333, rgba(0, 0, 0, 0)), color-stop(0.33333333, #e4e4e4));
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
    background-repeat: no-repeat;
    background-position: top, right, bottom, left;
    padding: 1px;
    -webkit-box-sizing: border-box;
    z-index: 5;
    pointer-events: none;
  }
}
.d-ib {
  display: inline-block;
}
.d-b {
  display: block;
}
.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}
.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-ellipsis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.text-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.text-center {
  text-align: center;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.pos-f {
  position: fixed;
}
.pos-a-full,
.pos-f-full {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}
.flex-center-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.flex-right-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.flex-center-y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}
.flex-bottom-y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: flex-end;
  -ms-flex-align: end;
      align-items: flex-end;
}
.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  width: 10px;
}
.flex-direction-y {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.block-center {
  margin-left: auto;
  margin-right: auto;
}
.o-a {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.o-h {
  overflow: hidden;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.full {
  width: 100%;
  height: 100%;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.mona-toast {
  z-index: 499;
}
.mona-toast .mona-toast-content {
  border-radius: 5px;
  padding: 12px 15px;
  background: rgba(0, 0, 0, .5);
  text-align: center;
  font-size: 14px;
  z-index: 500;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.mona-toast .mona-toast-content.success,
.mona-toast .mona-toast-content.error {
  min-width: 120px;
  /* no2rem */
}
.mona-toast .mona-toast-icon .success-img,
.mona-toast .mona-toast-icon .error-img {
  width: 40px;
  height: 40px;
  background-size: cover;
  margin: 3px auto 10px;
}
.mona-toast .mona-toast-icon .success-img {
  background-image: url('https://s10.mogucdn.com/mlcdn/c45406/180205_89ff4d45g31c7a4cfk8j727b6adli_200x200.png_100x100.png');
}
.mona-toast .mona-toast-icon .error-img {
  background-image: url('https://s10.mogucdn.com/mlcdn/c45406/180205_86g9c5249kljeljlbaki70g0i78ji_200x200.png_100x100.png');
}
.mona-modal {
  z-index: 400;
}
.mona-modal .mona-modal-mask {
  background: rgba(0, 0, 0, .5);
}
.mona-modal .mona-modal-wrap {
  border-radius: 5px;
  padding: 15px 0 0 0;
  text-align: center;
  width: 270px;
  margin-top: -100px;
  background-color: #fff;
  overflow: hidden;
}
.mona-modal .mona-modal-header {
  padding: 0 20px;
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  margin-top: 10px;
}
.mona-modal .mona-modal-body {
  padding: 0 20px 15px;
  font-size: 15px;
  line-height: 1.33;
  color: #888;
}
.mona-modal .mona-modal-body.no-title {
  color: #666;
  padding-top: 10px;
}
.mona-modal .mona-modal-footer {
  height: 45px;
  font-size: 16px;
}
.mona-modal .mona-modal-footer .cancel {
  color: #666;
}
.mona-modal .mona-modal-footer .confirm {
  color: #2196F3;
}
@media screen and (max-width: 320px) {
  .mona-modal .mona-modal-wrap {
    width: 240px;
  }
  .mona-modal .mona-modal-header {
    font-size: 16px;
  }
  .mona-modal .mona-modal-body {
    font-size: 14px;
  }
  .mona-modal .mona-modal-footer {
    height: 40px;
    font-size: 14px;
  }
}
@media screen and (min-width: 414px) {
  .mona-modal .mona-modal-wrap {
    width: 300px;
  }
  .mona-modal .mona-modal-body {
    padding: 0 20px 18px;
    font-size: 16px;
  }
  .mona-modal .mona-modal-body.no-title {
    padding-top: 15px;
  }
  .mona-modal .mona-modal-footer {
    height: 50px;
    font-size: 17px;
  }
}
.mona-picker-view {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.mona-picker-view .mona-picker-view-mask {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .95)), to(rgba(255, 255, 255, .6))), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, .95)), to(rgba(255, 255, 255, .6)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .95), rgba(255, 255, 255, .6)), linear-gradient(to top, rgba(255, 255, 255, .95), rgba(255, 255, 255, .6));
  background-position: top, bottom;
  background-repeat: no-repeat;
}
.mona-picker-view .mona-picker-view-wrap {
  width: 100%;
  text-align: center;
  position: relative;
}
.mona-picker-view .mona-picker-view-item {
  font-size: 14px;
}
.mona-picker-view .mona-picker-view-transition {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}
.mona-popup {
  z-index: 300;
}
.mona-popup .mona-popup-mask {
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
}
.mona-popup .mona-popup-wrap {
  z-index: 10;
}
.mona-popup.bottom .mona-popup-wrap {
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.mona-popup.top .mona-popup-wrap {
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.mona-popup.left .mona-popup-wrap {
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.mona-popup.right .mona-popup-wrap {
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.mona-popup.have-animate .mona-popup-wrap,
.mona-popup.have-animate .mona-popup-mask {
  -webkit-transition: all 350ms ease 0s;
  transition: all 350ms ease 0s;
}
.mona-popup.show-wrap .mona-popup-wrap {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}
.mona-popup.show-wrap .mona-popup-mask {
  opacity: 1;
}
.mona-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mona-row-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mona-row-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.mona-row-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.mona-row-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mona-row-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.mona-row-align-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.mona-row-align-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.mona-row-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mona-row-align-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.mona-row-align-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.mona-row-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mona-col-24 {
  width: 100%;
}
.mona-col-23 {
  width: 95.83333333%;
}
.mona-col-22 {
  width: 91.66666667%;
}
.mona-col-21 {
  width: 87.5%;
}
.mona-col-20 {
  width: 83.33333333%;
}
.mona-col-19 {
  width: 79.16666667%;
}
.mona-col-18 {
  width: 75%;
}
.mona-col-17 {
  width: 70.83333333%;
}
.mona-col-16 {
  width: 66.66666667%;
}
.mona-col-15 {
  width: 62.5%;
}
.mona-col-14 {
  width: 58.33333333%;
}
.mona-col-13 {
  width: 54.16666667%;
}
.mona-col-12 {
  width: 50%;
}
.mona-col-11 {
  width: 45.83333333%;
}
.mona-col-10 {
  width: 41.66666667%;
}
.mona-col-9 {
  width: 37.5%;
}
.mona-col-8 {
  width: 33.33333333%;
}
.mona-col-7 {
  width: 29.16666667%;
}
.mona-col-6 {
  width: 25%;
}
.mona-col-5 {
  width: 20.83333333%;
}
.mona-col-4 {
  width: 16.66666667%;
}
.mona-col-3 {
  width: 12.5%;
}
.mona-col-2 {
  width: 8.33333333%;
}
.mona-col-1 {
  width: 4.16666667%;
}
.mona-modal-select {
  background-color: #fff;
}
.mona-modal-select .mona-modal-select-header .item {
  font-size: 16px;
  height: 45px;
  padding: 0 16px;
  color: #2196F3;
}
.mona-modal-select .mona-modal-select-body {
  max-height: 280px;
  min-height: 200px;
}
.mona-modal-select .mona-modal-select-item {
  height: 48px;
  font-size: 15px;
  padding: 0 40px 0 20px;
  color: #333;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  line-height: 1;
}
.mona-modal-select .mona-modal-select-item.selected {
  color: #fff;
  background-color: rgba(33, 150, 243, .8);
}
.mona-modal-select .mona-modal-select-item.selected:after {
  content: '';
  display: block;
  background: #fff;
  width: 8px;
  border-radius: 50%;
  height: 8px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  background-size: cover;
}
.mona-picker-select {
  background-color: #fff;
}
.mona-picker-select .mona-picker-select-header .item {
  font-size: 16px;
  height: 45px;
  padding: 0 20px;
  color: #2196F3;
}
.mona-picker-select .mona-picker-select-wrap {
  height: 280px;
}
.mona-date-picker {
  background-color: #fff;
}
.mona-date-picker .mona-date-picker-header .item {
  font-size: 16px;
  height: 45px;
  padding: 0 16px;
  color: #2196F3;
}
.mona-date-picker .mona-date-picker-wrap {
  padding: 0 10px;
  height: 280px;
  font-size: 14px;
}
.mona-date-picker-range {
  background-color: #fff;
}
.mona-date-picker-range .mona-date-picker-range-header .item {
  font-size: 16px;
  height: 45px;
  padding: 0 16px;
  color: #2196F3;
}
.mona-date-picker-range .mona-date-picker-range-wrap {
  height: 280px;
  font-size: 14px;
}
.mona-date-picker-range .mona-date-picker-range-item {
  padding: 0 10px;
}
.mona-date-picker-range .mona-date-picker-range-item .mona-date-picker-range-year {
  width: 60px;
}
.mona-date-picker-range .mona-date-picker-range-to {
  width: 10px;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
}
@media screen and (max-width: 320px) {
  .mona-date-picker-range .mona-date-picker-range-item {
    padding: 0 5px;
  }
}
.mona-list-view .mona-list-view-section.mona-list-view-transition {
  -webkit-transition: -webkit-transform 600ms ease-in-out;
  transition: -webkit-transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
}
.mona-list-view .list-view-refresh {
  font-size: 13px;
}
.mona-list-view .list-view-refresh-icon {
  width: 65px;
  height: 15px;
  background: url(https://s10.mogucdn.com/mlcdn/c45406/180529_52b9f3gkk7k0b97ib2j095d74al3l_6500x30.png) 0 0 no-repeat;
  /* no2rem */
  background-size: 5000% 100%;
}
.mona-list-view .list-view-refresh-icon.animate {
  -webkit-animation: monaListViewGif steps(49) 2s infinite both;
          animation: monaListViewGif steps(49) 2s infinite both;
}
.mona-list-view .list-view-infinite {
  padding: 12px;
}
.mona-list-view .list-view-infinite-icon {
  background: url("https://s10.mogucdn.com/mlcdn/c45406/180517_7le6117ia10b6eg8chd1hdike7gec_200x200.png_50x50.png") no-repeat center;
  height: 25px;
  width: 25px;
  background-size: cover;
  -webkit-animation: monaRotation 1.5s infinite linear;
          animation: monaRotation 1.5s infinite linear;
}
@keyframes monaListViewGif {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}
@-webkit-keyframes monaListViewGif {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}
@keyframes monaRotation {
  from {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
@-webkit-keyframes monaRotation {
  from {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
.mona-swiper .mona-swiper-transition {
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}
.mona-swiper .mona-swiper-dots {
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: auto;
}
.mona-swiper .mona-swiper-dots .item {
  width: 8px;
  height: 8px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #fff;
}
.mona-swiper .mona-swiper-dots .item.active {
  background-color: #2196F3;
}
.mona-tabs-header {
  border-bottom: 1px solid #e4e4e4;
  background-color: #fff;
}
.mona-tabs-header .item {
  border-bottom: 2px solid transparent;
  font-size: 15px;
  height: 45px;
}
.mona-tabs-header .item.active {
  color: #2196F3;
}
.mona-tabs-header .index-mark {
  bottom: 0;
  left: 0;
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
  padding: 0 20px;
}
.mona-tabs-header .index-mark:before {
  display: block;
  content: '';
  height: 2px;
  background-color: #2196F3;
}
.mona-drop .mona-drop-content {
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  display: none;
  overflow: hidden;
}
.mona-drop .mona-drop-content.open {
  -webkit-animation: monaDropShowContent 200ms cubic-bezier(0.06, 0.36, 0.46, 0.99);
          animation: monaDropShowContent 200ms cubic-bezier(0.06, 0.36, 0.46, 0.99);
  display: block;
}
@-webkit-keyframes monaDropShowContent {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes monaDropShowContent {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
.mona-loading {
  z-index: 599;
}
.mona-loading.mask {
  background-color: rgba(0, 0, 0, .5);
}
.mona-loading .mona-wrap {
  padding-top: 15px;
  background-color: #fff;
  border-radius: 5px;
  width: 80px;
  height: 80px;
  -webkit-box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, .2);
          box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, .2);
}
.mona-loading .mona-wrap-anim {
  width: 65px;
  height: 15px;
  background: url(https://s10.mogucdn.com/mlcdn/c45406/180529_52b9f3gkk7k0b97ib2j095d74al3l_6500x30.png) 0 0 no-repeat;
  /* no2rem */
  background-size: 5000% 100%;
  -webkit-animation: monaLoadingGif steps(49) 2s infinite both;
          animation: monaLoadingGif steps(49) 2s infinite both;
}
.mona-loading .mona-wrap-text {
  font-size: 12px;
  margin-top: 10px;
  color: #040404;
}
@keyframes monaLoadingGif {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}
@-webkit-keyframes monaLoadingGif {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}
body,
dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
label,
li,
ol,
p,
textarea,
ul {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}
article,
aside,
details,
footer,
header,
nav,
section {
  display: block;
}
em,
i {
  font-style: normal;
}
img {
  border: none;
  vertical-align: middle;
}
ol,
ul {
  list-style: none;
}
input[type=checkbox],
input[type=email],
input[type=number],
input[type=password],
input[type=radio],
input[type=search],
input[type=tel],
input[type=text] {
  vertical-align: middle;
  outline: 0;
  color: #424242;
  -webkit-appearance: none;
  -webkit-user-select: text;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
}
select,
textarea {
  outline: 0;
  color: #424242;
  -webkit-appearance: none;
}
textarea {
  -webkit-user-select: text;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font: 400 14px/1.5 Arial, sans-serif;
  background-color: #f6f6f6;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  font-size: 14px;
}
a,
body {
  color: #5e5e5e;
}
a {
  text-decoration: none;
}
[data-dpr="2"] body {
  font-size: 28px;
}
[data-dpr="3"] body {
  font-size: 42px;
}
html,
body,
#views {
  width: 100%;
  height: 100%;
}
pre {
  white-space: pre-wrap;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hide {
  display: none;
}
.d-ib {
  display: inline-block;
}
.d-b {
  display: block;
}
.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}
.c-po {
  cursor: pointer;
}
.va-tt {
  vertical-align: text-top;
}
.va-bl {
  vertical-align: baseline;
}
.va-s {
  vertical-align: sub;
}
.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-ellipsis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.text-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.wob-a {
  word-break: break-all;
}
.fw-200 {
  font-weight: 200;
}
.fw-500 {
  font-weight: 500;
}
.fw-bold {
  font-weight: bold;
}
.font-smoothing {
  -webkit-font-smoothing: antialiased;
}
.text-white {
  color: #fff;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.pos-f {
  position: fixed;
}
.pos-a-full,
.pos-f-full {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}
.flex-center-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.flex-right-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.flex-center-y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}
.flex-bottom-y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: flex-end;
  -ms-flex-align: end;
      align-items: flex-end;
}
.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  width: 10px;
}
.flex-direction-y {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.block-center {
  margin-left: auto;
  margin-right: auto;
}
.o-a {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.o-h {
  overflow: hidden;
}
.w-full {
  width: 100%;
}
.h-m-full {
  min-height: 100%;
}
.h-full {
  height: 100%;
}
.full {
  width: 100%;
  height: 100%;
}
.h-none {
  height: 0;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.bg-white {
  background-color: #fff;
}
.r-circle {
  border-radius: 50%;
}
.z-index-2 {
  z-index: 2;
}
.z-index-3 {
  z-index: 3;
}
.m-t-10 {
  margin-top: 10px;
}
.page-model {
  padding: 30px 10px;
}
.page-model .page-model-title {
  font-size: 14px;
  padding: 0 0 8px;
  color: #a2a2a2;
  border-bottom: 1px solid #b7b6b6;
}
.page-model .page-model-desc {
  font-size: 13px;
  color: #b7b6b6;
  margin: 8px 0 10px;
}
.page-model .page-model-wrap {
  font-size: 13px;
}
.demo-button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0 15px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  height: 40px;
  line-height: 38px;
  border-radius: 3px;
  text-align: center;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  background: #f9f9f9;
  outline: none;
}
.demo-block {
  margin-bottom: 20px;
}
.demo-block .demo-block-title {
  font-size: 14px;
  color: rgba(69, 90, 100, .6);
  padding: 20px 15px 10px 5px;
}
.demo-block .demo-block-wrap {
  padding: 10px;
  background: #fff;
  -webkit-box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, .2);
          box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, .2);
}
.demo-block .demo-block-desc {
  font-size: 13px;
  color: #b7b6b6;
  margin-bottom: 10px;
}
.page-index {
  padding: 60px 15px 30px;
}
.page-index .page-title {
  font-size: 40px;
  color: #000;
  margin-bottom: 15px;
}
.page-index .page-desc {
  font-size: 14px;
  color: #455a64;
  margin: 0 0 60px;
}
.page-index .component-item {
  padding: 0 15px;
  background: #fff;
  margin-bottom: 15px;
}
.page-index .component-item .header {
  height: 50px;
  font-size: 16px;
}
.page-index .component-item .child-item {
  height: 50px;
  border-top: 1px solid #e5e5e5;
}
.mount-root-modal {
  background: rgba(0, 0, 0, .3);
}
.list-view-group {
  margin-top: 10px;
  padding: 0 15px;
  background: #fff;
}
.list-view-group .list-view-item + .list-view-item {
  border-top: solid #d5d5d5 1px;
}
.list-view-item {
  height: 60px;
}
.list-view-item .avatar {
  height: 45px;
  width: 45px;
}
.list-view-item .info {
  padding-left: 20px;
}
.swiper-wrap {
  height: 150px;
}
.swiper-wrap .swiper-item {
  color: #fff;
}
.demo-loading-template {
  width: 90px;
  height: 50px;
  background: #f5f5f5;
  border: 1px solid #dadada;
  border-radius: 3px;
}
.layout-wrap .layout-item,
.layout-wrap-1 .layout-item {
  height: 40px;
  padding: 3px 5px;
  background: #8bc34a;
  color: #fff;
  font-size: 14px;
}
.layout-wrap .layout-item:nth-child(odd),
.layout-wrap-1 .layout-item:nth-child(odd) {
  background: #03a9f4;
}
.layout-wrap .layout-item-1 .inner,
.layout-wrap-1 .layout-item-1 .inner {
  height: 40px;
  background: #8bc34a;
  padding: 3px 5px;
  color: #fff;
  font-size: 14px;
}
.layout-wrap .layout-item-1:nth-child(odd) .inner,
.layout-wrap-1 .layout-item-1:nth-child(odd) .inner {
  background: #03a9f4;
}
.layout-wrap-1 {
  height: 120px;
  border: 1px solid #03a9f4;
}
.hammer-wrap {
  height: 150px;
  border: 1px solid #03A9F4;
}
#appWrapper {
  height: 100%;
}
