.demo-button {
    user-select: none;
    padding: 0 15px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    height: 40px;
    line-height: 38px;
    border-radius: 3px;
    text-align: center;
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
    background: #f9f9f9;
    outline: none;
}
